<!-- Default form login -->
<div class="row  d-flex justify-content-center m-5">
  <div class="col-md-6">
    <form [formGroup]="user" class=" border border-light p-5">

      <p class="h4 mb-4">Sign in</p>

      <!-- Email -->
      <input type="email" name="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail"
             formControlName="emailField"
             [class.is-invalid]="user.get('emailField').invalid && user.get('emailField').touched">
      <div *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty" class="error-margin">
        <small *ngIf="primEmail.errors?.required" class="text-danger">Primary email is required</small>
        <!--question mark(?) is a safe navigation operator-->
        <small *ngIf="primEmail.errors?.pattern" class="text-danger">Please provide a valid email address</small>
      </div>


      <!-- Password -->
      <input type="password" name="email" id="defaultLoginFormPassword" class="form-control mb-4"
             formControlName="passField"
             placeholder="Password" [class.is-invalid]="user.get('passField').invalid && user.get('passField').touched">
      <div *ngIf="(passwordValue.invalid && passwordValue.touched) " class="error-margin">
        <small *ngIf="passwordValue.errors?.required" class="text-danger">Password is required</small>
      </div>
      <div class="d-flex justify-content-around">
        <div>
          <!-- Remember me -->
          <mdb-checkbox [default]="true">Remember me</mdb-checkbox>
        </div>
        <div>
          <!-- Forgot password -->
          <a href="">Forgot password?</a>
        </div>
      </div>

      <!-- Sign in button -->
      <button mdbBtn color="teal" block="true" class="my-4" type="submit" (click)="login()">Sign in</button>

      <!-- Register -->
      <p>Not a member?
        <a routerLink="/register">Register</a>
      </p>

      <!-- Social login -->
      <!--      <p>or sign in with:</p>-->

      <!--      <a type="button" class="light-blue-text mx-2">-->
      <!--        <mdb-icon fab icon="facebook"></mdb-icon>-->
      <!--      </a>-->
      <!--      <a type="button" class="light-blue-text mx-2">-->
      <!--        <mdb-icon fab icon="twitter"></mdb-icon>-->
      <!--      </a>-->
      <!--      <a type="button" class="light-blue-text mx-2">-->
      <!--        <mdb-icon fab icon="linkedin"></mdb-icon>-->
      <!--      </a>-->
      <!--      <a type="button" class="light-blue-text mx-2">-->
      <!--        <mdb-icon fab icon="github"></mdb-icon>-->
      <!--      </a>-->

    </form>
  </div>
</div>

<!-- Default form login -->
