<div class="jumbotron teal lighten-1">
  <div class=" white-text text-center py-5 px-4">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Engage your customers, they'll love you for
        it.</strong></h2>
      <p class="mx-5 mb-5">Engage your customers in 3 steps: Create, Add and enjoy! Easy to setup and Forever Free.
      </p>
      <a class="btn btn-outline-white btn-md border border-white" routerLink="/login"> Sign Up Free</a>
    </div>
  </div>
</div>

<div class="container text-center mt-5 mb-5">
  <div class="row">
    <div class="col">
      <h1>It's easy to get started</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="" style="font-size: 70px"><i class="fas fa-code"></i></div>
      <h4>Create Timelines</h4>
      <span>Create your timeline for the customizable notifications. You decide what, when and how the notification should appear.   </span>
    </div>
    <div class="col-sm">
      <div class="" style="font-size: 70px"><i class="fas fa-plus"></i></div>
      <h4>Add it to your website</h4>
      <span>Once you finalize your timeline, a script tag is generated which you can add it to your website.</span>
    </div>
    <div class="col-sm">
      <div class="" style="font-size: 70px"><i class="fab fa-angellist"></i></div>
      <h4>Enjoy & monitor</h4>
      <span>Enjoy and monitor how your customers are behaving to your notifications.</span>
    </div>
  </div>
</div>
